@tailwind base;
@tailwind components;
@tailwind utilities; 


*{
    font-family: Heebo;
}
#navbar{
    height:23vh;
    width:100%;
    background-color: rgb(255, 246, 246);
    display: flex;
    justify-content: end;
    align-items: center;
    gap:4vw;
    font-weight:600;
    font-size: 18px;
    color:rgb(43, 43, 43);
    padding-right: 4vw;
}
#part1{
    height:78vh;
    background-color: rgb(255, 246, 246);
    padding: 0px 100px;
    padding-bottom: 2vh;
}
#part1 #left{
    width:50%;
    padding: 0px 30px;
    margin-left: 55px;
}
#download-btn{
    background-color: #ff8383;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 4px 3px rgb(167, 167, 167);
}
#part1 #right{
    margin-left: 140px;
}
#part1 #right img{
    height:46vh;
}
/* part2 */
#part2{
     height:72vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: start;
    padding:5vh 20vw;
    background: #fae5e5;
    gap:3vw;
}
#part2 #box{
    height:50.5vh;
    width:32vw;
    background-color: white;
    padding:4vw;
    padding-right:50px;
}

#part3{
    background-color: rgb(255, 247, 247);
}
#part3 #feature1 img, #feature2 img, #feature3 img{
    height:14vw;
}
#part3 #bottombar #logos img{
    width:2.2vw;
}


@media(max-width:600px){
    #navbar{
        width:100%;
        height:24vw;
        padding-right: 8vw;
    }
    #part1{
        padding:0px 0vw;
        height:70vh;
    }
    #part1 #left{
        margin-left: 0vw;
    }
    #part1 #left h1{
        font-size: 3.8vh;
    }
    #part1 #left p{
        width:60vw;
        margin-top: 6vh;
        margin-bottom: 2vh;
    }
    
    #part1 #right{
        margin-left: -1vw;
        margin-right: 1vw;
        margin-top: -30vh;
    }
    #part1 #right img{
        height:20vh;
    }
    #part1 p{
        font-size: 3.2vw;
    }
    #part2{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:85vh;
        padding:10px 15px;
    }
    #part2 #box{
        width:70vw;
        height:30vh;
        margin-bottom: 3vh;
    }
    #view-all{
        margin-bottom: 0.5vh;
    }
    #part3{
        padding: 8vh 4vw 6vh 4vw;
    }
    #feature1,#feature2,#feature3{
        margin: 12vh 0vw;
    }
    #part3 #featured-works{
        font-size: 5vw;
    }
    #part3 #feature1 img,#feature2 img,#feature3 img{
        height:18vh;
    }
    #feature1 h1,#feature2 h1,#feature3 h1{
        font-size: 2.7vh;
    }
    #feature1 p,#feature2 p,#feature3 p{
        padding-right: 0vw;
        line-height: 2.5vh;
        font-size: 2vh;
    }
    #part3 #bottombar #logos{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    
    #part3 #bottombar #logos img{
        width:4vw;
    }
    #part3 #bottombar p{
        margin-bottom: 0vh;
    }
}